<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gists - Github gists clone</title>
</head>
<body>
    <ul id="list">
        <li>Gists</li>
    </ul>
    <script>
        const list = document.getElementById("list");
        const gists = JSON.parse('<%- JSON.stringify(gists) %>');
        gists.forEach((gist) => {
            const li = document.createElement("li");
            const a = document.createElement("a");
            a.href = "/gists/" + gist.id;
            a.innerText = gist.title;
            li.appendChild(a);
            list.appendChild(li);
        })
    </script>
</body>
</html>